# Truth Tables Using Perceptron Training Rule

In [158]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

### Create AND Truth Tables in Panda Dataframe

In [159]:
and_df = pd.DataFrame(np.array([[0, 0, 0], [0, 1, 0], [1, 0, 0], [1, 1, 1]]),
                   columns=['x0', 'x1', 'y0'])
and_df

   x0  x1  y0
0   0   0   0
1   0   1   0
2   1   0   0
3   1   1   1

### Neural Network for the AND Function

### Weights

In [160]:
threshold = 1
n = .5 #Learning Rate

In [177]:
w1 = 1.2
w2 = .6
wi_xi_df=pd.DataFrame((and_df['x0']*w1 + and_df['x1']*w2), columns=['wi_xi'])
wi_xi_df

   wi_xi
0    0.0
1    0.6
2    1.2
3    1.8

In [178]:
wi_xi_df.loc[wi_xi_df["wi_xi"] >= threshold,  "output"] = 1
wi_xi_df.loc[wi_xi_df["wi_xi"] < threshold, "output"] = 0
wi_xi_df

   wi_xi  output
0    0.0     0.0
1    0.6     0.0
2    1.2     1.0
3    1.8     1.0

### Those Training weights are wrong and the output is not what was expected.  Use 2 row to calculate new weights

### Perceptron Training Rule wi = wi + n(t-o)xi, wi = weights, n = learning rate, t = target, o = output, xi = xo or x1

In [179]:
t = and_df['y0'].loc[2]
o = wi_xi_df['output'].loc[2]
xi0 = and_df['x0'].loc[2]
xi1 = and_df['x1'].loc[2]

In [181]:
w1_new = w1 + n * ((t-o) * xi0)
w2_new = w2 + n * ((t-o) * xi1)

### Try new weights

In [184]:
wi_xi_df=pd.DataFrame((and_df['x0']*w1_new + and_df['x1']*w2_new), columns=['wi_xi'])
wi_xi_df.loc[wi_xi_df["wi_xi"] >= threshold,  "output"] = 1
wi_xi_df.loc[wi_xi_df["wi_xi"] < threshold, "output"] = 0
wi_xi_df

   wi_xi  output
0    0.0     0.0
1    0.6     0.0
2    0.7     0.0
3    1.3     1.0

### Those weights worked correctly